.card-img-wrapper{
    height: 300px;
}
.card img {
    vertical-align: middle;
    width: 100%;
    height: 100%;

}

.card {
    margin-bottom: 30px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(52, 58, 64);
  }

  .card-img-wrapper:hover .overlay {
    opacity: 1;
  }

  .card-text {
    margin-top: 15px;
    color: white;
  }
  
.card-description {
    margin-top: 20px;
    font-size: 17px;
    color: rgb(177, 182, 184);
}

.podcast-title{
    color: rgb(116, 122, 124);
    font-weight: 600;
    font-size: 18px;
}
  
  